* {
  font-family: "Inter", sans-serif;
  margin: 0px;
  padding: 0px;
}
.home-container {
  background-color: #fff;
  margin: 0 auto;
  width: 90%;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100vh;
  text-align: center;
}

.slider-container {
  flex-grow: 1;
}

.description-image-container {
  display: flex;
  flex-grow: 1;
}

.description-image {
  flex-grow: 1;
  max-width: 100%;
  height: auto;
}

.description-text {
  margin-left: 49px;
  margin-right: 49px;
}

.description-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
}

.description-paragraph {
  margin-top: 16px;
  margin-bottom: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #91919f;
  text-align: center;
}

.btn-container {
  margin-left: 16px;
  margin-right: 16px;
}

.button {
  width: 100%;
  height: 56px;
  background-color: #7f3dff;
  color: #fff;
  border-radius: 16px;
  border: none;
  font-weight: 600;
  size: 18px;
  line-height: 21.78px;
  margin-top: 16px;
}

.button.accent {
  background-color: #eee5ff;
  color: #7f3dff;
}

.forms-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 8px 16px;
  gap: 24px;
}

.forms {
  width: 100%;
  height: 56px;
  left: 16px;
  top: 164px;
  border: 1px solid #f1f1fa;
  border-radius: 16px;
}

input::placeholder {
  height: 32px;
  padding: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

li.inactive {
  display: none;
}

li.active {
  display: flex;
  flex-direction: column;
  height: 100%;
}

ul {
  list-style: none;
}

.btn-slide-container {
  display: flex;
  align-items: center;
  align-self: center;
}

.li-button {
  display: inline-block;
}

.btn-slide-inactive {
  background: #eee5ff;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: none;
  margin: 10px;
}

.btn-slide-active {
  background: #7f3dff;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: none;
  margin: 10px;
}

button:hover {
  background-color: #7f3dff;
  cursor: pointer;
}

/* SignUp.js */

.back-btn {
  background-color: #fff;
  border: none;
}

.page-title-container {
  display: flex;
  margin-top: 16px;
  margin-bottom: 75px;
  justify-content: space-between;
}

.page-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.TC {
  display: block;
  text-align: justify;
  position: relative;
  padding-left: 35px;
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 20px;
  margin-bottom: 25px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}
.TC input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 2px solid #7f3dff;
  border-radius: 5px;
  background-color: #fff;
}

.TC:hover input ~ .checkmark {
  background-color: #ccc;
}

.TC input:checked ~ .checkmark {
  background-color: #2196f3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.TC input:checked ~ .checkmark:after {
  display: block;
}

.TC .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.TC-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: initial;
}
.TC > a {
  text-decoration: none;
}

.TC-checkbox {
  height: 32px;
  width: 32px;
  border-radius: 10%;
}

.button.google {
  background-color: #f1f1fa;
  color: #000;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 10px;
}

a {
  color: #7f3dff;
}

/* Login.js */

.login-btn-container {
  margin-top: 40px;
  margin-bottom: 33px;
}

.login-forgot-password {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
}

/* AccountBalance.js */
.account-balance-resume {
  display: flex;
  flex-direction: row;
  margin-left: 16px;
  margin-right: 16px;
  gap: 16px;
  justify-content: center;
}
.account-balance-income {
  width: 164px;
  height: 80px;
  background: #00a86b;
  border-radius: 28px;
  color: #fff;
}
.account-balance-expenses {
  width: 164px;
  height: 80px;
  color: #fff;
  background: #fd3c4a;
  border-radius: 28px;
}

/* Resume.js */
.resume-container {
  background: linear-gradient(
    183.33deg,
    #fff6e6 9.56%,
    rgba(248, 237, 216, 0) 124.27%
  );
}

.resume-header {
  margin-top: 44px;
  margin-left: 16px;
  margin-right: 16px;
  display: flex;
  justify-content: space-between;
}
