* {
  font-family: "Inter", sans-serif;
  margin: 0px;
  padding: 0px;
}
html {
  font-size: 16px;
}
.home-container {
  border: 1px solid #2196f3;
  background-color: #fff;
  padding: 0 1em;
  margin: 0 auto;
  width: 90%;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  gap: 0.938em;
  height: 100vh;
  text-align: center;
}

.slider-container {
  flex-grow: 1;
}

.description-image-container {
  display: flex;
  flex-grow: 1;
}

.description-image {
  flex-grow: 1;
  max-width: 100%;
  height: auto;
}

.description-text {
  margin-left: 3.06em;
  margin-right: 3.06em;
}

.description-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
}

.description-paragraph {
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  color: #91919f;
  text-align: center;
}

.btn-container {
  margin-bottom: 1em;
}

.button {
  width: 100%;
  height: 3.111em;
  background-color: #7f3dff;
  color: #fff;
  border-radius: 0.889em;
  border: none;
  font-weight: 600;
  font-size: 1.125rem;
  margin-top: 0.889em;
}

.button.accent {
  background-color: #eee5ff;
  color: #7f3dff;
}

.forms-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5em;
}

.forms {
  font-size: 1rem;
  width: 100%;
  height: 3.5em;
  padding: 0.875em 1.25em;
  border: 1px solid #f1f1fa;
  border-radius: 16px;
  box-sizing: border-box;
}
.forms.error {
  border: 1px solid red;
}

.error-container {
  width: 100%;
}
.error-message {
  display: block;
  padding-top: 0.417em;

  padding-left: 0.833em;
  text-align: start;
  color: red;
  font-size: 0.75rem;
  transition: ease-in-out 1s;
}

input::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
}

li.inactive {
  display: none;
}

li.active {
  display: flex;
  flex-direction: column;
  height: 100%;
}

ul {
  list-style: none;
}

.btn-slide-container {
  display: flex;
  align-items: center;
  align-self: center;
}

.li-button {
  display: inline-block;
}

.btn-slide-inactive {
  background: #eee5ff;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: none;
  margin: 10px;
}

.btn-slide-active {
  background: #7f3dff;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: none;
  margin: 10px;
}

button:hover {
  background-color: #7f3dff;
  cursor: pointer;
}

/* SignUp.js */

.back-btn {
  background-color: #fff;
  border: none;
}

.page-navigation-container {
  display: flex;
  margin-top: 1em;
  margin-bottom: 4.688em;
  justify-content: space-between;
}

.page-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
}
.page-title-container {
  display: flex;
  align-items: center;
}
.page-title-fill {
  width: 32px;
  height: 32px;
}

.TC {
  display: block;
  text-align: initial;
  position: relative;
  padding-left: 2.857em;
  margin-top: 1.429em;

  margin-bottom: 1.786em;
  cursor: pointer;
  /* font-size: 22px; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
}
.TC input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 2px solid #7f3dff;
  border-radius: 5px;
  background-color: #fff;
}

.TC:hover input ~ .checkmark {
  background-color: #ccc;
}

.TC input:checked ~ .checkmark {
  background-color: #2196f3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.TC input:checked ~ .checkmark:after {
  display: block;
}

.TC .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.TC > a {
  text-decoration: none;
}

.button.google {
  background-color: #fff;
  border: 1px solid #f1f1fa;
  color: #000;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 10px;
}

.btn-container > p {
  font-family: "Inter";
  font-style: normal;

  color: #91919f;
}

.paragraph-between-btns {
  margin-top: 12px;
  margin-bottom: 12px;
  line-height: 18px;
  font-weight: 700;
  font-size: 14px;
}

.paragraph-below-btns {
  margin-top: 19px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

a {
  color: #7f3dff;
}

form div {
  width: 100%;
  position: relative;
}
.eye {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  cursor: pointer;
}
.eye img {
  opacity: 0.5;
  width: 100%;
  height: 100%;
}

/* Login.js */

.login-btn-container {
  margin-top: 40px;
  margin-bottom: 33px;
}

.login-forgot-password {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  text-decoration: none;
}

/* AccountBalance.js */
.account-balance-resume {
  display: flex;
  flex-direction: row;
  margin-left: 1em;
  margin-right: 1em;
  gap: 1em;
  justify-content: center;
}
.account-balance-income {
  width: 164px;
  height: 80px;
  background: #00a86b;
  border-radius: 28px;
  color: #fff;
}
.account-balance-expenses {
  width: 164px;
  height: 80px;
  color: #fff;
  background: #fd3c4a;
  border-radius: 28px;
}

/* Resume.js */
.resume-container {
  background: linear-gradient(
    183.33deg,
    #fff6e6 9.56%,
    rgba(248, 237, 216, 0) 124.27%
  );
}

.resume-header {
  margin-top: 44px;
  margin-left: 16px;
  margin-right: 16px;
  display: flex;
  justify-content: space-between;
}
