* {
  font-family: "Inter", sans-serif;
  margin: 0px;
  padding: 0px;
}
.home-container {
  background-color: green;
  margin: 0 auto;
  width: 90%;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100vh;
  padding-bottom: 8px;
  text-align: center;
}

.description-image-container {
  flex-grow: 1;
}

.description-image {
  display: block;
  height: auto;
  margin: 0 auto;
}

.description-text {
  margin-left: 49px;
  margin-right: 49px;
}

.description-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
}

.description-paragraph {
  margin-top: 16px;
  margin-bottom: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #91919f;
  text-align: center;
}

.btn-container {
  margin-left: 16px;
  margin-right: 16px;
}

.button {
  width: 100%;
  height: 56px;
  background-color: #7f3dff;
  color: #fff;
  border-radius: 16px;
  border: none;
  font-weight: 600;
  size: 18px;
  line-height: 21.78px;
  margin-top: 16px;
}

.button.accent {
  background-color: #eee5ff;
  color: #7f3dff;
}

.forms-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 8px 16px;
  gap: 10px;
}

.forms {
  width: 100%;
  height: 56px;
  left: 16px;
  top: 164px;
  border: 1px solid #f1f1fa;
  border-radius: 16px;
}

*placeholder {
  width: 287px;
  height: 32px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.TC {
  display: inline;
  text-align: start;
}
